/**
 * 	Name: base.css
 *
 *	T.O.C
 *
 *	=CssReset
 *  =Typography
 *  =Typography - Links
 *  =Typography - Lists
 *  =Typography - Images
 *  =Typography - Tables
 *  =Typography - Forms
 *  =Misc
 *
 */


/* ==========================================================================
   =CssReset
   ========================================================================== */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	
	/* HTML5 display-role reset for older browsers */
	
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	main,
	menu,
	nav,
	section,
	summary {
		display: block;
	}
	
	
	body { line-height: 1; }
	
	ol, 
	ul {
		list-style: none;
	}
	
	blockquote, 
	q {
		quotes: none;
	}
	
	blockquote:before, 
	blockquote:after,
	q:before, 
	q:after {
		content: '';
		content: none;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	/**
	 * 1. Correct `inline-block` display not defined in IE 8/9.
	 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
	 */

	audio,
	canvas,
	progress,
	video {
		display: inline-block; /* 1 */
		vertical-align: baseline; /* 2 */
	}

	/**
	 * Prevent modern browsers from displaying `audio` without controls.
	 * Remove excess height in iOS 5 devices.
	 */

	audio:not([controls]) {
		display: none;
		height: 0;
	}

	/**
	 * Address `[hidden]` styling not present in IE 8/9/10.
	 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
	 */

	[hidden],
	template {
		display: none;
	}
	
	/**
	 * 1. Address margins set differently in Firefox 4+, Safari, and Chrome.
	 * 2. Correct color not being inherited.
	 *    Known issue: affects color of disabled elements.
	 * 3. Correct font properties not being inherited.
	 */

	button,
	input,
	optgroup,
	select,
	textarea {
		padding: 0;
		margin: 0; 		/* 1 */
	  	color: inherit; /* 2 */
	  	font: inherit;  /* 3 */
	}

	/**
	 * Address `overflow` set to `hidden` in IE 8/9/10/11.
	 */

	button { overflow: visible; }

	/**
	 * Address inconsistent `text-transform` inheritance for `button` and `select`.
	 * All other form control elements do not inherit `text-transform` values.
	 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
	 * Correct `select` style inheritance in Firefox.
	 */

	button,
	select {
		text-transform: none;
	}

	/**
	 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
	 *    and `video` controls.
	 * 2. Correct inability to style clickable `input` types in iOS.
	 * 3. Improve usability and consistency of cursor style between image-type
	 *    `input` and others.
	 */

	button,
	html input[type="button"], 		  /* 1 */
	input[type="reset"],
	input[type="submit"] {
		-webkit-appearance: button;   /* 2 */
		cursor: pointer; 			  /* 3 */
	}

	/**
	 * Re-set default cursor for disabled elements.
	 */

	button[disabled],
	html input[disabled] {
		cursor: default;
	}

	/**
	 * Remove inner padding and border in Firefox 4+.
	 */

	button::-moz-focus-inner,
	input::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

	/**
	 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
	 * the UA stylesheet.
	 */

	input { line-height: normal; }

	/**
	 * It's recommended that you don't attempt to style these elements.
	 * Firefox's implementation doesn't respect box-sizing, padding, or width.
	 *
	 * 1. Address box sizing set to `content-box` in IE 8/9/10.
	 * 2. Remove excess padding in IE 8/9/10.
	 */

	input[type="checkbox"],
	input[type="radio"] {
		box-sizing: border-box; /* 1 */
		padding: 0; 			/* 2 */
	}

	/**
	 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
	 * `font-size` values of the `input`, it causes the cursor style of the
	 * decrement button to change from `default` to `text`.
	 */

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		height: auto;
	}

	/**
	 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
	 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
	 *    (include `-moz` to future-proof).
	 */

	input[type="search"] {
		-webkit-appearance: textfield; 		/* 1 */
		-webkit-box-sizing: content-box;    /* 2 */
		   -moz-box-sizing: content-box;
				box-sizing: content-box;
	}

	/**
	 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
	 * Safari (but not Chrome) clips the cancel button when the search input has
	 * padding (and `textfield` appearance).
	 */

	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	/**
	 * 1. Always force vertical scroll
	 * 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
	 * 3. For animations
	 */
	
	html { 
		overflow-y: scroll; 					 /* 1 */ 
		-ms-text-size-adjust: 100%; 			 /* 2 */
    	-webkit-text-size-adjust: 100%;			 /* 2 */
		-webkit-font-smoothing: antialiased; 
		overflow-x: hidden; 					 /* 3 */
	}

/* ==========================================================================
   =Typography
   ========================================================================== */
   	 
	body {
		background-color: #ffffff;
		color: #7b868c;
		font: 14px "Raleway", Arial, sans-serif; 
		line-height: 24px;	
	}

	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6 {
		color: #28353e;
		font-weight: 300; 
	}
		
	h1 a, 
	h2 a, 
	h3 a, 
	h4 a, 
	h5 a, 
	h6 a {
		color: #28353e; 
		font-weight: inherit; 
	}
	
	h1 {
		margin-bottom: 14px; 	 
		font-size: 48px; 
		line-height: 64px; 
	}
	
	h2 { 
		margin-bottom: 12px;	
		font-size: 36px; 
		line-height: 48px;  
	}
	
	h3 { 
		margin-bottom: 10px;
		font-size: 30px; 
		line-height: 40px;   
	}
	
	h4 {
		margin-bottom: 8px; 
		font-size: 24px; 
		line-height: 32px;   
	}
	
	h5 { 
		margin-bottom: 6px; 
		font-size: 18px; 
		line-height: 24px; 
	}
	
	h6 {
		margin-bottom: 4px;  
		font-size: 14px; 
		line-height: 18px; 
	}
	
	p { margin-bottom: 20px; }
	em { font-style: italic; }
	strong { font-weight: 700; }
	small { font-size: 90%; }
	big { font-size: 125%; }
	
	sub { 
		vertical-align: sub; 
		font-size: 75%; 
	}
	
	sup { 
		vertical-align: super; 
		font-size: 75%; 
	}
	
	abbr[title] {  
		border-bottom: 1px dotted #d7d7d7; 
		cursor: help;
	}
	
	address { 
		display: block; 
		margin-bottom: 20px; 
	}
	
	blockquote {}
	
	blockquote p { font-style: italic; }
	
	blockquote span { 
		display: block;
		margin-top: 5px;
		color: #d7d7d7;  
	}
	
	blockquote span:before { content: "\2013 \00A0"; }

	hr { 
		height: 0; 
		border: solid #d7d7d7; 
		border-width: 1px 0 0 0;
		margin: 30px 0;
	}

	code, 
	pre { 
		color: #7b868c;
		border-radius: 3px;	
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;			
	}
	
	code { 
		padding: 1px 4px;
		border: 1px solid #d7d7d7;
		background-color: #f3f3f3;  
		color: #d50f25;  
	}
	
	pre { 
		overflow-x: auto; 
		display: block;
		padding: 20px;
		border: 1px solid #d7d7d7;   
		margin-bottom: 20px;
		white-space: pre-wrap;
		background-color: #f3f3f3; 
	}
	
	/* Typography Helper Classes */
	
	/**
	 * <div class="hr"></div> acts like an <hr />
	 */
	
	.hr { 
		border-top: 1px solid #d7d7d7;  
		margin: 30px 0;
	}
	
	.text-left { text-align: left; }
	.text-right { text-align: right; }
	.text-center { text-align: center; }
	
	.text-highlight { color: #98d4ec;background:yellow; }

	.text-uppercase { text-transform: uppercase; }
	
	.mute{ 
		color: #a9b5bb;
		font-weight: 400;
	}
	
	p.last,
	h1.last,
	h2.last,
	h3.last,
	h4.last,
	h5.last,
	address.last { margin-bottom: 0; }
	
	@media (max-width: 767px) {
	
		/**
		 * 1. Hide background on mobile devices
		 */
	 
		body { 
			background: none; /* 1 */
			background-color: #fff; 
		}
		
		p.last, 
		h1.last, 
		h2.last, 
		h3.last, 
		h4.last, 
		h5.last, 
		address.last { margin-bottom: 20px; }
		
		.text-right { text-align: left; }

	}

/* ==========================================================================
   =Typography - Links
   ========================================================================== */
	
	a, 
	a:visited { 
		color: #98d4ec; 
		text-decoration: none; 
	}
	
   /**
	* 1. Remove the gray background color from active links in IE 10.
	*/
	
	a:active {
 		background: transparent; /* 1 */
	}
	
	a:hover, 
	a:focus {
		color: #98d4ec; 
		outline: 0; 
		text-decoration: underline;
	}	
	
/* ==========================================================================
   =Typography - Lists
   ========================================================================== */
	
	ul, 
	ol { 
		margin-bottom: 20px;
		list-style-position: inside; 
	}
	
	ul ul, 
	ul ol, 
	ol ol, 
	ol ul { 
		margin-bottom: 0; 
		margin-left: 30px; 
	}
	
	li {}
	
	ul { list-style-type: disc; }
	ol { list-style-type: decimal; }
	
	dl { margin-bottom: 20px; }

	dt { font-weight: bold; }

	dd  { margin-bottom: 20px; }
	
	
	/* List Helper Classes */

	ul.last,
	ol.last { margin-bottom: 0; }
	
	@media (max-width: 767px) {

		ul.last, 
		ol.last { margin-bottom: 20px; }
		
	}

/* ==========================================================================
   =Typography - Images
   ========================================================================== */
	
	img { 
		max-width: 100%;
		height: auto;
		border: none; 
	}
	
	/* Images Helper Classes */
	
	.img-align-left { 
		float: left;
		margin: 5px 10px 0 0;  
	}
	
	.img-align-right { 
		float: right;
		margin: 5px 0 0 10px; 
	}
	
	.img-block { display: block; }

/* ==========================================================================
   =Typography - Tables
   ========================================================================== */

	table { 
		width: 100%;
		border-collapse: collapse; 
		border-spacing: 0; 
		margin-bottom: 20px; 
		background-color: transparent; 
	}
	
	caption { 
		margin: 20px 0;
		font-weight: 700; 
		text-align: center; 
	}

	table th, 
	table td {
		padding: 8px; 
		border-top: 1px solid #d7d7d7;
		vertical-align: top; 
	}
	
	table th { 
		border-top: 0;
		font-weight: 700;  
	}
	
	table thead th { vertical-align: bottom; }
	
/* ==========================================================================
   =Typography - Forms
   ========================================================================== */

	form {  }
	
	fieldset {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			    box-sizing: border-box;
	}

	fieldset legend {
		padding: 0;
		margin: 0;
		font-weight: 700;								
	}
	
	::-moz-placeholder,
	::-webkit-input-placeholder,
	:-ms-input-placeholder {
		color: #d7d7d7;
	}
	
	label {
		display: block;
		margin-bottom: 5px;
	}
	
	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="month"],
	input[type="week"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	input[type="color"],
	textarea {
		color: #7b868c;
		display: block;
		max-width: 100%;
		-webkit-appearance: none;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			    box-sizing: border-box;
		padding: 7px 25px;
		border: 1px solid #d7d7d7;
		border-radius: 20px;
		margin-bottom: 10px;
		background-color: #fff;
		font-size: 13px;
		line-height: 21px;
	}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="date"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="month"]:focus,
	input[type="week"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="time"]:focus,
	input[type="url"]:focus,
	input[type="color"]:focus,
	textarea:focus {
		border-color: #bbb;
		outline: none;
	}

	input[type="text"]:disabled,
	input[type="password"]:disabled,
	input[type="date"]:disabled,
	input[type="datetime"]:disabled,
	input[type="datetime-local"]:disabled,
	input[type="month"]:disabled,
	input[type="week"]:disabled,
	input[type="email"]:disabled,
	input[type="number"]:disabled,
	input[type="search"]:disabled,
	input[type="tel"]:disabled,
	input[type="time"]:disabled,
	input[type="url"]:disabled,
	input[type="color"]:disabled,
	textarea:disabled {
		background-color: #f3f3f3;
		cursor: not-allowed;
	}

	input[type="text"][disabled],
	input[type="text"][readonly],
	fieldset[disabled] input[type="text"],
	input[type="password"][disabled],
	input[type="password"][readonly],
	fieldset[disabled] input[type="password"],
	input[type="date"][disabled],
	input[type="date"][readonly],
	fieldset[disabled] input[type="date"],
	input[type="datetime"][disabled],
	input[type="datetime"][readonly],
	fieldset[disabled] input[type="datetime"],
	input[type="datetime-local"][disabled],
	input[type="datetime-local"][readonly],
	fieldset[disabled] input[type="datetime-local"],
	input[type="month"][disabled],
	input[type="month"][readonly],
	fieldset[disabled] input[type="month"],
	input[type="week"][disabled],
	input[type="week"][readonly],
	fieldset[disabled] input[type="week"],
	input[type="email"][disabled],
	input[type="email"][readonly],
	fieldset[disabled] input[type="email"],
	input[type="number"][disabled],
	input[type="number"][readonly],
	fieldset[disabled] input[type="number"],
	input[type="search"][disabled],
	input[type="search"][readonly],
	fieldset[disabled] input[type="search"],
	input[type="tel"][disabled],
	input[type="tel"][readonly],
	fieldset[disabled] input[type="tel"],
	input[type="time"][disabled],
	input[type="time"][readonly],
	fieldset[disabled] input[type="time"],
	input[type="url"][disabled],
	input[type="url"][readonly],
	fieldset[disabled] input[type="url"],
	input[type="color"][disabled],
	input[type="color"][readonly],
	fieldset[disabled] input[type="color"],
	textarea[disabled],
	textarea[readonly],
	fieldset[disabled] textarea {
		background-color: #f3f3f3;
		cursor: not-allowed;
	}

	textarea[rows] { height: auto; }

	select {
		color: #7b868c;
		height: 40px;
		max-width: 100%;
		border: 1px solid #d7d7d7;
		background-color: #fff;
		-webkit-appearance: none !important;
		padding: 0 10px;
	}

	select:disabled {
		background-color: #f3f3f3;
		cursor: not-allowed;
	}
	
	select:focus { border-color: #bbb; }

	select[multiple] { height: auto; }

	input[type="file"],
	input[type="checkbox"],
	input[type="radio"],
	select {
		margin: 0 0 10px;
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 0;
		margin-left: 5px;
		vertical-align: baseline;
	}

	input[type="file"] { width: 100%; }
	
	button,
	input[type="reset"],
	input[type="submit"],
	input[type="button"]{
		position: relative;
		display: inline-block;
		border: 2px solid #98d4ec;
		border-radius: 20px;
		margin: 0 5px 20px 0;
		padding: 7px 25px;
		background-color: #98d4ec;
		background-clip: padding-box; 
		color: #fff;
		line-height: 18px;
		font-weight: 700;
		text-decoration: none !important;
		vertical-align: middle;
		cursor: pointer;
		-webkit-background-clip: padding-box;
		   -moz-background-clip: padding-box;
				background-clip: padding-box;
		text-align: center;
		-webkit-appearance: none;
		-webkit-transition: border-radius 0.3s;
				transition: border-radius 0.3s;
	}

	button:hover,
	input[type="reset"]:hover,
	input[type="submit"]:hover,
	input[type="button"]:hover {
		border-radius: 0;
	}

/* ==========================================================================
   =Misc
   ========================================================================== */
   
	.javascript-required,
	.modern-browser-required{
	    padding: 15px 0;
		background-color: #d50f25;
		color: #fff;
		text-align: center;
		font-weight: 700;
	}
   