/**
 * Name: layout.css
 *	
 *	T.O.C
 *
 *	=Wrap
 *	=Header
 *	=Logo
 *	=Menu
 *	=Mobile Menu
 * 	=Mobile menu trigger
 * 	=Buy Button
 * 	=Sticky Header
 * 	=Content
 * 	=Page Header
 * 	=Footer
 * 	=Footer Bottom
 *	=Back to top 
 *
 */

 
/* ==========================================================================
   =Wrap
   ========================================================================== */

	#wrap {
		position: relative;
		background-color: #fff;
		margin:auto;
	}
	
	@media (max-width: 767px) {

		#wrap {}

	}
	
	.ewf-boxed-layout #wrap {
		max-width: 1140px; 
		margin: 0 auto;
		-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);  
		   -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);    
				box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);  
	}
	
	.ewf-boxed-layout #header, 
	.ewf-boxed-layout #nav { max-width: 1140px; }
	
	@media (min-width: 1200px) {
		
		.ewf-boxed-layout #wrap { max-width: 1370px; }
		
		.ewf-boxed-layout #header, 
		.ewf-boxed-layout #nav  { max-width: 1370px; }
		
	}
	
	@media (max-width: 1140px) {
	
		.ewf-boxed-layout #wrap {
			-webkit-box-shadow: none;  
			   -moz-box-shadow: none;     
					box-shadow: none;  
		}
	
	}
   
/* ==========================================================================
   =Header 
   ========================================================================== */
   	
	#header {
		margin: 0 auto; 
	}
	
/* ==========================================================================
   =Logo
   ========================================================================== */
   
	#logo {  
		padding: 25px 0;
		line-height:1;
	}
	
	/**
	 * 1. displaying the <a> inline-block makes it depends on the size of it's children
	 *    we add max-width:100% to tell it not that it shouldn't extend beyond the size of it's
	 *    parent if it's child is very large eg a 1000x1000 logo img
	 */
	
	#logo a {
		display: inline-block;
		max-width: 100%; /* 1 */
	}
	
	#logo img { display: block; }	
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#logo { padding-top: 30px; }
		
	}
	
	@media (max-width: 767px) {

		/**
		 * 1. on mobile devices logo padding right needs to be the width of the
		 *	  mobile menu trigger + some spacing so as to not let the logo <a>
		 *    overlap the mobile menu trigger
		 */
	
		#logo {
			padding-top: 30px;  
			padding-right: 50px; /* 1 */
		}
		
	}
	
/* ==========================================================================
   =Menu 
   ========================================================================== */

   .error-no-menu { padding-top: 35px; }
   
/* =Menu Basics
   ========================================================================== */
   
	.sf-menu,
	.sf-menu ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	.sf-menu > li { float: left; }

	.sf-menu > li > a {
		position: relative;
		display: block;
	}
	
	/**
 	 * 1. z-index is 1025 because the sticky menu is 1020
 	 */
	
	.sf-menu .sf-mega,
	.sf-menu li.dropdown ul {
		position: absolute;
		z-index: 1025; /* 1 */
		top: 100%;
		left: 0;
		display: none;
	}
	
	.sf-menu li.dropdown { position: relative; }
	
	.sf-menu li.dropdown ul ul {
		top: -16px;
		left: 100%;
	}
	
	.sf-menu li:hover > .sf-mega,
	.sf-menu li.sfHover > .sf-mega,
	.sf-menu li.dropdown:hover > ul,
	.sf-menu li.dropdown.sfHover > ul { display: block; }

/* =Menu Skin
   ========================================================================== */
	
	.sf-menu {
		position: relative;
		float: right;
		margin-top: 0;
	} 
	
	.sf-menu a {
		display: block;
		padding: 10px 0;
		color: #7b868c; 
		font-size: 14px;
		font-weight: 700;	
		text-decoration: none;
	}
	
	.sf-menu li.dropdown a { padding: 8px 20px; }
	
	.sf-menu > li > a,
	.sf-menu > li.dropdown > a {
		padding: 31px 15px;
		border: none;
		color: #7b868c;
		font-size: 14px;
	}
	
	.sf-menu > li:last-child > a { /*padding-right: 0;*/ }
	
	.sf-menu > li a i { margin-right: 5px; }
	
	.sf-menu > li.current > a { position: relative; }
	
	.sf-menu > li > a:before { 
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		display: block;
		width: 25px;
		border-top: 1px solid transparent;
		margin: 13px auto 0;
		content: "";
		-webkit-transition: border-top-color 0.3s;
				transition: border-top-color 0.3s;
	}
	
	.sf-menu > li > a:hover:before,
	.sf-menu > li.current > a:before,
	.sf-menu li.sfHover > a:before { border-top-color: #98d4ec; }

/* =DropDown
   ========================================================================== */
	
	/**
 	 * 1. allow long menu items to determine submenu width
 	 */
	
	.sf-menu li.dropdown ul {
		min-width: 190px; /* 1 */
		padding: 15px 0;
		border: 1px solid rgba(0, 0, 0, 0.1);	
		background-color: #fff;			
	}
	
	.sf-menu li.dropdown ul:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 75px;
		border-top: 2px solid #98d4ec;
		content: "";
	}
	
	.sf-menu li.dropdown ul a:hover,
	.sf-menu li.dropdown ul li.dropdown.sfHover > a { color: #98d4ec; }
		
/* =Mega Menu Section
   ========================================================================== */
	
	.sf-mega {
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 20px 0;
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: #fff;
	}

	.sf-mega-section {
		float: left;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 0 20px;
	}

	/**
 	 * 1. set mega menu section size, as a percentage of the mega menu width
 	 */
	
	.sf-mega.sf-mega-1-col .sf-mega-section{ width: 100%; } /* 1 */
	
	.sf-mega.sf-mega-2-col .sf-mega-section{ width: 50%; }
	
	.sf-mega.sf-mega-3-col .sf-mega-section{ width: 33.3333333333%; }
	
	.sf-mega.sf-mega-4-col .sf-mega-section{ width: 25%; }
	
	.sf-menu .sf-mega:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 75px;
		border-top: 2px solid #98d4ec;
		content: "";
	}
	
	.sf-mega ul li a:hover { color: #98d4ec; }
	
/* =Menu Arrows
   ========================================================================== */
	
	.sf-arrows .sf-with-ul:after {
		position: absolute;
		top: 16px;		
		right: 0;
		display: none;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: #d7d7d7;
		content: "";
	}
		
	.sf-arrows > li > .sf-with-ul:focus:after,
	.sf-arrows > li:hover > .sf-with-ul:after,
	.sf-arrows > .sfHover > .sf-with-ul:after { border-top-color: rgba(0, 0, 0, 0.7); }
		
	.sf-arrows ul .sf-with-ul:after {
		top: 50%;
		display: block;
		border-color: transparent;
		border-left-color: #d7d7d7;
		margin-top: -5px;
		margin-right: 10px;
	}
	
	.sf-arrows ul li > .sf-with-ul:focus:after,
	.sf-arrows ul li:hover > .sf-with-ul:after,
	.sf-arrows ul .sfHover > .sf-with-ul:after { border-left-color: rgba(0, 0, 0, 0.7); }
	
	@media (min-width: 768px) and (max-width: 991px) {

		#menu { display: none; }

	}
	
	@media (max-width: 767px) {

		#menu { display: none; }
	
	}
	
/* ==========================================================================
   =Mobile Menu 
   ========================================================================== */
			
	#mobile-menu {
		border-bottom: 1px solid #d7d7d7;
		margin-bottom: 0;
	}
	
	#mobile-menu li {	
		display: block;
		margin: 0;
	}
		
	#mobile-menu > li > ul, 
	#mobile-menu > li > ul > li > ul {
		display: none;
		margin-left: 0;
	}
	
	#mobile-menu .sf-mega {
		display: none;
		padding: 0;
		border: none;
		margin: 0;
		background: #fff;
	}
	
	#mobile-menu .sf-mega-section {
		float: none;
		width: 100%;
		padding: 0;
		border: none;
	}
	
	#mobile-menu .sf-mega-section ul { margin-left: 0; }

	#mobile-menu li a {
		position: relative;
		display: block;
		padding: 15px 25px;
		border-top: 1px solid #d7d7d7;
		color: #28353e;
		font-size: 13px;
		text-align: left;
		text-decoration: none;
	}
	
	#mobile-menu ul a { padding-left: 45px; }
	
	#mobile-menu ul li ul a  { padding-left: 65px; }
	
	#mobile-menu .mobile-menu-submenu-arrow {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 100%;
		border-left: 1px solid #d7d7d7;
		color: #28353e;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow:hover { background-color: #f3f3f3; }
	
	#mobile-menu li a:hover {}
	
	#mobile-menu { display: none; }

/* ==========================================================================
   =Mobile menu trigger
   ========================================================================== */
				
	#mobile-menu-trigger { 
		float: right;
		display: none;
		font-size: 32px;
	}

	@media (min-width: 768px) and (max-width: 991px) {

		#mobile-menu-trigger { 
			display: block;
			margin-top: 28px;
			margin-right: 0;
		}	

	}

	@media (max-width: 767px) {

		#mobile-menu-trigger { 
			position: absolute;
			top: 23px;
			right: 15px;
			display: block;
			padding: 10px;
			margin-top: 0;
		}

	}

	@media only screen and (min-width: 480px) and (max-width: 767px) {

		#mobile-menu-trigger {  }
	
	}		
		
/* ==========================================================================
   =Buy Button 
   ========================================================================== */
	
	#header-button { 
		float: right;
		margin: 25px 0 0;
		font-size: 13px;
	}
	
	#header-button + nav #menu { padding-right: 35px; }
	
	@media (max-width: 991px) {
		
		#header-button { display: none; }
		
	}
	
	@media (max-width: 767px) {
		
	}

/* ==========================================================================
   =Sticky Header
   ========================================================================== */

	@media (min-width: 1025px) {
		
		/**
		 * 1. The height of the #header-wrap can be increased or decreased to accommodate the logo
		 */
		 
		#header-wrap {
			position: relative;
			height: 86px; /* 1 */
		}
		
		#header {
			position: absolute;
			top: 0; 					
			right: 0;
			left: 0;
			margin: 0 auto; 
			
		}
		
		/**
		 * 1. The z-index has to be 1020 so it is bigger than the back to top buttons z-index that is 1010
		 */
		
		#header.stuck {
			position: fixed;
			z-index: 1020; /* 1 */
			top: 0;
			width: 100%;
			padding: 5px 0 0 0;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			margin: 0 auto;
			background-color: rgba(255, 255, 255, 0.95);
			-webkit-transition: padding 0.3s;
					transition: padding 0.3s;
		}
		
		#header.stuck #logo { padding: 15px 0 23px 0; }
		
		#header.stuck .sf-menu { margin-top: 0; }
		
		#header.stuck .sf-menu > li > a,
		#header.stuck .sf-menu > li.dropdown > a { padding: 25px 15px; }
		
		#header.stuck .sf-menu > li:last-child > a { /*padding-right: 0;*/ }
		
		#header.stuck #header-button { margin: 19px 0 0; }
	
		body.admin-bar #header.stuck { top:32px; }
		#header.stuck .error-no-menu { padding-top: 25px; }
	
	}
	
/* ==========================================================================
   =Content
   ========================================================================== */
   	
	#content { padding-bottom: 40px;	}

/* ==========================================================================
   =Page Header
   ========================================================================== */
   	
	#page-header {
		padding: 36px 0;
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
		margin-bottom: 100px;
		background: no-repeat center center;
	}
	
	#page-header p {
		margin-bottom: 0;
	}
	
	@media (max-width: 767px) {
		
		#page-header p { text-align: left; }
		
	}
   
/* ==========================================================================
   =Footer
   ========================================================================== */		
	
	#footer { padding-top: 30px; }
	
	#footer-widget-area-1 {}
	#footer-widget-area-2 {}
	#footer-widget-area-3 {}
	#footer-widget-area-4 {}
	
/* ==========================================================================
   =Footer Bottom
   ========================================================================== */	
  
	#footer-bottom { padding-bottom: 60px; }
	
	#footer-bottom-widget-area-1 {}
	#footer-bottom-widget-area-2 {}
	#footer-bottom-widget-area-3 {}
	#footer-bottom-widget-area-4 {}
	
/* ==========================================================================
   =Back to top
   ========================================================================== */

	#back-to-top {
		position: fixed;
		z-index: 1010;
		right: -48px;
		bottom: 20px;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: #28353e;
		color: #fafafa;
		font-size: 30px;
		text-align: center;
		text-decoration: none;					
		opacity: 0.5;
		cursor: pointer;
		-webkit-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
	}
	
	#back-to-top i {
		font-size: 16px;
		line-height: 48px;
		font-weight: normal;
		vertical-align: top;
		-webkit-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
	}
	
	#back-to-top:hover { background-color: rgba(0, 0, 0, 0.7); }
	#back-to-top:hover i { color: #fff; }
	#back-to-top.visible { right: 40px; }
	#back-to-top.gone { right: -48px; }	
	
/* ==========================================================================
   =custom color selected
   ========================================================================== */

	.custom-color-selected .mute,
	.custom-color-selected a,
	.custom-color-selected h1,
	.custom-color-selected h2,
	.custom-color-selected h3,
	.custom-color-selected h4,
	.custom-color-selected h5,
	.custom-color-selected h6,
	.custom-color-selected h1 a,
	.custom-color-selected h2 a,
	.custom-color-selected h3 a,
	.custom-color-selected h4 a,
	.custom-color-selected h5 a,
	.custom-color-selected h6 a,
	.custom-color-selected  .headline h4,
	.custom-color-selected .icon-box-2 h5 small,
	.custom-color-selected .icon-box-3 h3 a,
	.custom-color-selected .milestone .milestone-description,
	.custom-color-selected  .progress-bar-description,
	.custom-color-selected  .pricing-table-header h1 sup,
	.custom-color-selected  .pricing-table-header h1 sub,
	.custom-color-selected  a.social-icon,
	.custom-color-selected  .team-member h5 small,
	.custom-color-selected  .testimonial > h5,
	.custom-color-selected  .testimonial blockquote p span,
	.custom-color-selected  .portfolio-filter ul li a,
	.custom-color-selected  .blog-post-title p a,
	.custom-color-selected  .blog-post-title p a small,
	.custom-color-selected  .portfolio-item-description h5 a	{ color: inherit; }

	.custom-color-selected .divider { background-color: inherit; }

	.custom-color-selected  .icon-box-3 > h4,
	.custom-color-selected  .milestone .milestone-description   { border-color: inherit; }
   