/* ==========================================================================
   =Custom Lists
   ========================================================================== */

	/**
 	 * Custom lists
 	 *
	 * 1. unstyled list
	 * 2. list with squares for bullets
	 * 3. list with discs for bullets
	 *
	 */
	 
	ul.unstyled { list-style-type: none; } /* 1 */
	ul.square { list-style-type: square; } /* 2 */
	ul.circle { list-style-type: circle; } /* 3 */
	
	/**
 	 * Custom lists
 	 *
	 * 1. fill-circle
	 *
	 */
	
	ul.fill-circle { list-style: none; } /* 1 */
	
	ul.fill-circle li { margin-bottom: 10px; }
	ul.fill-circle li:last-child { margin-bottom: 0; }
	
	ul.fill-circle li:before {
		position: relative;
		top: -2px;
		display: inline-block;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		margin-right: 20px;
		background-color: #98d4ec;
		content: "";
	}
	
	ul.fill-circle.border li {
		border-bottom: 1px solid #d7d7d7;
		padding-bottom: 10px;
		font-weight: 300;
	}
		
	.text-highlight { color: #98d4ec;background:yellow; }

	.text-uppercase { text-transform: uppercase; }
	
	.mute{ 
		color: #a9b5bb;
		font-weight: 400;
	}