/*
Theme Name: Throne WordPress Theme
Theme URI: http://themeforest.net/user/bitpub/portfolio
Description: A versatile theme that offers a blend of flexibility and minimalism, made with your business in mind.
Author: Bitpub
Author URI: http://themeforest.net/user/bitpub
Version: 1.0.1
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, full-width-template, theme-options, threaded-comments, translation-ready

License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/ 
.news-list
{

}
.news-list .listing-item 
{
    clear: both;
}
.news-list img
{
	float: left;
	margin-right: 20px;
}
.news-list .title
{
	font-size: 26px;
}
.news-list .date
{
	text-align: right;
}