/*---------------------------------------------------------------------------------------------

	CSS Stylesheet
	

	TABLE OF CONTENTS
	
	01 - General & Basic Styles

	
-------------------------------------------------------------------------------------------*/



	
	
	
	/* 	EWF Admin
	---------------------------------------------------------------------------------------*/	
	.sticky-wrapper #ewf-admin-header.stuck													{ position:fixed;padding-top:45px; }
	.sticky-wrapper .ewf-admin-vertical-nav.stuck											{ position:fixed;top:145px; }
	
	#ewf-admin-header 																		{ position:absolute;top:0;left:inherit;width:100%;max-width:960px;z-index:1999;background:#F1F1F1;padding-top:0; }
	#ewf-admin-header > div 																{ background:#363B3F;padding-left:30px;height:100px;border-radius:8px 8px 0 0;position:relative; }
	#ewf-admin-header h3 																	{ color:#fff;margin-bottom:0px;padding-top:30px;margin-top:0; }
	#ewf-admin-header p 																	{ color:#fff;margin:0;opacity:.4;font-size:11px; }
	
	#ewf-admin-header .header-settings-overlay												{ position:absolute;height:45px;background:#F1F1F1;top:-45px;left:-10px;right:-10px; }
	#ewf-admin-header .header-settings														{ position:absolute;top:50%;right:30px;height:40px;margin-top:-20px; }
	#ewf-admin-header .header-settings .button-large 										{ line-height:1;height:40px;display:inline-block;width:140px;border:none;box-shadow:none; }

	
	
	.ewf-mat-button 																		{ width:160px;display:inline-block;position:relative; }
	.ewf-mat-button > a 																	{ background:#E14D43;color:#fff;line-height:40px;height:40px;padding:0 15px;display:block;text-align:center;border-radius:4px; }
	
	.ewf-mat-button.dropdown > a:after 														{ content: "  ";vertical-align: top;font-family: "dashicons";padding-right: 8px;font-size:20px; }
	.ewf-mat-button.dropdown > a 															{ padding:0 5px 0 15px;text-align:center; }
	 
	.ewf-mat-button.dropdown:hover  														{ height:50px; }
	.ewf-mat-button.dropdown:hover > a 														{ height:50px; }
	.ewf-mat-button.dropdown:hover .dropdown-content 										{ display:block; }
	
	.ewf-mat-button .dropdown-content 														{ display: none;top:45px;background-color:#E14D43;margin: 0;width: 190px;max-height: 650px;overflow-y: auto;opacity:1;position: absolute;z-index: 999;will-change: width, height;border-radius: 0 0 3px 3px;overflow:hidden; }
	.ewf-mat-button .dropdown-content a 													{ display:block;padding:0 20px;line-height:32px;color:#fff;text-decoration:none; }
	.ewf-mat-button .dropdown-content li 													{ clear: both;cursor: pointer;width: 100%;text-align: left;text-transform: none;margin:0; }
	
	
	#ewf-admin-content																		{ margin-left:200px;padding:40px;min-height:400px; }
	#ewf-admin-sidebar 																		{ position:absolute;top:0;left:0;background:#F5F5F5;width:200px;bottom:0;border-right:1px solid #EEEEEE; padding-top:50px; }
	
	#ewf-admin-sidebar ul																	{ margin:0;width:200px; }
	#ewf-admin-sidebar li 																	{ height:50px;line-height:50px;background:#F9F9F9;border-bottom:1px solid #F5F5F5;margin-bottom:0;display:block;transition:all .4s; }
	#ewf-admin-sidebar a 																	{ padding-left:20px;color:#6E6E6E;text-decoration:none;display:block;width:91%;height:50px;transition:all .4s;outline: 0;text-shadow:0 1px #fff;outline:none; }
	#ewf-admin-sidebar a:focus 																{ outline:none;box-shadow:none; } 
	#ewf-admin-sidebar li.active 															{ background:#fff;border-bottom:1px solid #EEEEEE;outline:none; }
	#ewf-admin-sidebar li.active a 															{ color:#363B3F;background:#fff;outline:none; }

	
	.gambit-ask-rating 																		{ display: none !important; }
	
	
	.ewf-admin-options 																		{ padding: 0;border-radius: 8px;margin-top:20px;max-width: 960px; }
	.ewf-admin-options-wrapper																{ padding:100px 0 0; margin:0; background-color:#FFFFFF;-moz-border-radius: 8px; border-radius: 8px;min-height: 600px; position: relative; }
	
	.ewf-admin-options .ewf-admin-notice 													{ height:50px;line-height:50px;padding:0 20px;background:#F2E07B;color:#806854; }
	
	.ewf-admin-content-wrapper 																{ margin: 0; min-height: 600px;overflow:hidden;position:relative;box-shadow:0 0 5px 0 rgba(0,0,0,0.1); }
	
	.ewf-panel 																				{ display:none; }
	.ewf-panel.active 																		{ display:block; }
	
	.ewf-admin-option-restore 																{ cursor:pointer; }
	
	
	
	/* theme options header button */
	.ewf-theme-options-update 																{ display:none; }
	
	
	#post-body 																				{ border:none; } /* fix post title field border top */
	
	/* 	EWF Admin - Sidebar icons
	---------------------------------------------------------------------------------------*/				
	.ewf-icon-export:before 																{ content: "\f463";vertical-align:top;font-family: "dashicons";font-size:20px;padding-right:5px; 	}	
	.ewf-icon-footer:before 																{ content: "\f116";vertical-align:top;font-family: "dashicons";font-size:20px;padding-right:5px; 	}	
	.ewf-icon-shop:before 																	{ content: "\f174";vertical-align:top;font-family: "dashicons";font-size:20px;padding-right:5px; 	}	
	.ewf-icon-header:before 																{ content: "\f116";vertical-align:top;font-family: "dashicons";font-size:20px;padding-right:5px; 	}	
	.ewf-icon-general:before 																{ content: "\f111";vertical-align:top;font-family: "dashicons";font-size:20px;padding-right:5px; 	}				
	.ewf-icon-typography:before 															{ content: "\f326";vertical-align:top;font-family: "dashicons";font-size:20px;padding-right:5px; 	}			
	.ewf-icon-colors:before 																{ content: "\f100";vertical-align:top;font-family: "dashicons";font-size:20px;padding-right:5px; 	}		
	.ewf-icon-social:before 																{ content: "\f307"; vertical-align:top;font-family: "dashicons";font-size:20px;padding-right:5px;	}
	
	

	

	/* 	EWF Admin UI
	---------------------------------------------------------------------------------------*/	
	.ewf-ui 																				{ padding: 20px 0;position:relative; }
	.ewf-ui .ewf-col-description 															{ float:left;margin-right:25px;width:250px;background:transparent; }
	.ewf-ui .ewf-col-action 																{ float:left;width:400px;background:transparent; }
	.ewf-ui h4																				{ color:#363b3f;margin:0;font-size:14px;font-weight:bold; }
	.ewf-ui span 																			{ color:#959697; }
	.ewf-ui .ewf-disabled 																	{ display:none; }
	.ewf-ui[data-disabled="true"] .ewf-disabled												{ display:block;background:#fff;position:absolute;top:0;width:100%;left:0;bottom:0;right:0;opacity:.8;z-index:99;padding-bottom:0; }
	
	
	
	/* 	EWF Admin UI - Sidebar size
	---------------------------------------------------------------------------------------*/	
	.ewf-ui-columns-size .ewf-col-description 												{ width:250px;margin-right:25px; }
	.ewf-ui-columns-size .ewf-col-action 													{ width:250px;margin-right:0; }
	
	.ewf-ui-control-columns-size 															{ background:#DBDBDB;padding:2px;border-radius:4px;margin-bottom:15px; }
	
	.ewf-ui-columns-size-wrapper 															{ padding:10px 0 12px 0;text-align:right;background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6);position:relative;z-index:999; } 
	
	.expanded .ewf-ui-columns-setcol-wrapper.active 										{ display:block; }
	.ewf-ui-columns-setcol-wrapper ul a 													{ display:block;width:40px;height:40px;background:url("images/back-footer-layout-columns.png") no-repeat; }
	.ewf-ui-columns-setcol-wrapper a.ft-col1 												{ }
	.ewf-ui-columns-setcol-wrapper a.ft-col2 												{ background-position:-40px top; }
	.ewf-ui-columns-setcol-wrapper a.ft-col3 												{ background-position:-80px top; }
	.ewf-ui-columns-setcol-wrapper a.ft-col4 												{ background-position:-120px top; }
	.ewf-ui-columns-setcol-wrapper a.active  												{ -webkit-box-shadow: inset 0 4px 5px rgba(0,0,0,.08);-moz-box-shadow: inset 0 4px 5px rgba(0,0,0,.08);box-shadow: inset 0 4px 5px rgba(0,0,0,.08);border-top:2px solid #629daf;height:38px; }
	.ewf-ui-columns-setcol-wrapper a.active:focus 											{ outline: none; }	
	.ewf-ui-columns-setcol-wrapper 															{ margin:0;display:none;border-top:1px solid #F1F1F1;background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6);position:relative;height:40px;z-index:9; }
	.ewf-ui-columns-setcol-wrapper span 													{ padding-left:10px;float:left;line-height:40px; }
	.ewf-ui-columns-setcol-wrapper ul 														{ float:right;height:40px;margin:0; }
	.ewf-ui-columns-setcol-wrapper ul li 													{ width:40px;height:40px;display:inline-block;margin-right:1px; }
	
	.ewf-ui-column-size-editor 																{ height:40px;padding:10px 0;border-top:1px solid #F1F1F1;border-bottom: 1px solid #F1F1F1;padding-left:10.5px; background:url("images/back-footer-grid.png") repeat-y center top;	}
	.ewf-ui-column-size-editor > div 														{ float:left;margin-left:3px;height:40px;transition:width .35s;background-color: #cacaca;-webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,.15);-moz-box-shadow: inset 0 2px 1px rgba(0,0,0,.15);box-shadow: inset 0 2px 1px rgba(0,0,0,.15); }
	.ewf-ui-column-size-editor  span 														{ cursor:pointer;background:red;width:12px;height:13px;margin:15px auto;border-radius:3px;display:block;-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);box-shadow: 0 0 5px rgba(0,0,0,.15);	}
	.ewf-ui-column-size-editor  span:before 												{ font-family: "dashicons";font-size:15px;content: "  \f132  ";vertical-align: top;line-height:14px;color:#fff;	}
	.ewf-ui-column-size-editor  span.left 													{ float:left; }
	.ewf-ui-column-size-editor  span.left:before 											{ content: "\f141"; }
	.ewf-ui-column-size-editor  span.right 													{ float:right; }
	.ewf-ui-column-size-editor  span.right:before											{ content: "\f139";	}
	
	.ewf-ui-column-size-editor > div:first-child 											{ margin-left:0; 	} 
	.ewf-ui-column-size-editor .ewf-ml-ftcol2 												{ width:35px; 		}
	.ewf-ui-column-size-editor .ewf-ml-ftcol3 												{ width:54px; 		}
	.ewf-ui-column-size-editor .ewf-ml-ftcol4 												{ width:73px; 		}
	.ewf-ui-column-size-editor .ewf-ml-ftcol5 												{ width:92px; 		}
	.ewf-ui-column-size-editor .ewf-ml-ftcol6 												{ width:111px; 		}
	.ewf-ui-column-size-editor .ewf-ml-ftcol7 												{ width:130px; 		}
	.ewf-ui-column-size-editor .ewf-ml-ftcol8 												{ width:149px; 		}
	.ewf-ui-column-size-editor .ewf-ml-ftcol9 												{ width:168px; 		}
	.ewf-ui-column-size-editor .ewf-ml-ftcol10 												{ width:187px; 		}
	.ewf-ui-column-size-editor .ewf-ml-ftcol11 												{ width:206px; 		}
	.ewf-ui-column-size-editor .ewf-ml-ftcol12 												{ width:225px; 		}


	
	/* 	EWF Admin UI - Column selector & Editor
	---------------------------------------------------------------------------------------*/	
	.ewf-ui-columns .ewf-col-description 													{ width:250px;margin-right:25px; }
	.ewf-ui-columns .ewf-col-action 														{ width:250px;margin-right:0; }
	
	.ewf-ui-control-columns 																{ background:#DBDBDB;padding:2px;border-radius:4px;margin-bottom:15px; }
	
	.ewf-ui-control-columns.expanded .ewf-ui-columns-tabs > div 							{ border-radius:3px 3px 0 0;height:36px; }
	.ewf-ui-columns-tabs > div 																{ width:50%;float:left;border-radius:3px;line-height:36px;height:35px;text-align:center;display:block;cursor:pointer; }
	.ewf-ui-columns-tabs > div.active 														{ background-color: #fff;	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);box-shadow: 0 0 5px rgba(0,0,0,.15); }
	.ewf-ui-columns-tabs 																	{ height:35px; }
	
	.ewf-ui-columns-tab-columns span 														{ color:#444444; }
	.ewf-ui-columns-tab-columns:before 														{ font-family: "dashicons";font-size:17px;content: "\f107   ";vertical-align:middle;	}
	.ewf-ui-columns-tab-editor:before 														{ font-family: "dashicons";font-size:17px;content: "\f229   ";vertical-align:middle;	}
	
	.ewf-ui-columns-editor-wrapper 															{ display:none;padding:10px 0 12px 0;text-align:right;background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6);position:relative;z-index:999; } 
	.ewf-ui-columns-editor-wrapper p 														{ margin-top:0;padding:0 10px;text-align:left; }
	.expanded .ewf-ui-columns-editor-wrapper.active 										{ display:block; }
	
	.ewf-ui-column-editor 																	{ margin-bottom:10px;height:40px;padding:10px 0;border-top:1px solid #F1F1F1;border-bottom: 1px solid #F1F1F1;padding-left:10.5px; background:url("images/back-footer-grid.png") repeat-y center top;	}
	.ewf-ui-column-editor > div 															{ float:left;margin-left:3px;height:40px;transition:width .35s;background-color: #cacaca;-webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,.15);-moz-box-shadow: inset 0 2px 1px rgba(0,0,0,.15);box-shadow: inset 0 2px 1px rgba(0,0,0,.15); }
	.ewf-ui-column-editor  span 															{ cursor:pointer;background:red;width:12px;height:13px;margin:15px auto;border-radius:3px;display:block;-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);box-shadow: 0 0 5px rgba(0,0,0,.15);	}
	.ewf-ui-column-editor  span:before 														{ font-family: "dashicons";font-size:15px;content: "  \f132  ";vertical-align: top;line-height:14px;color:#fff;	}
	.ewf-ui-column-editor  span.left 														{ float:left; }
	.ewf-ui-column-editor  span.left:before 												{ content: "\f141"; }
	.ewf-ui-column-editor  span.right 														{ float:right; }
	.ewf-ui-column-editor  span.right:before												{ content: "\f139";	}
	
	.expanded .ewf-ui-columns-setcol-wrapper.active 										{ display:block; }
	.ewf-ui-columns-setcol-wrapper ul a 													{ display:block;width:40px;height:40px;background:url("images/back-footer-layout-columns.png") no-repeat; }
	.ewf-ui-columns-setcol-wrapper a.ft-col1 												{ }
	.ewf-ui-columns-setcol-wrapper a.ft-col2 												{ background-position:-40px top; }
	.ewf-ui-columns-setcol-wrapper a.ft-col3 												{ background-position:-80px top; }
	.ewf-ui-columns-setcol-wrapper a.ft-col4 												{ background-position:-120px top; }
	.ewf-ui-columns-setcol-wrapper a.active  												{ -webkit-box-shadow: inset 0 4px 5px rgba(0,0,0,.08);-moz-box-shadow: inset 0 4px 5px rgba(0,0,0,.08);box-shadow: inset 0 4px 5px rgba(0,0,0,.08);border-top:2px solid #629daf;height:38px; }
	.ewf-ui-columns-setcol-wrapper a.active:focus 											{ outline: none; }	
	.ewf-ui-columns-setcol-wrapper 															{ margin:0;display:none;border-top:1px solid #F1F1F1;background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6);position:relative;height:40px;z-index:9; }
	.ewf-ui-columns-setcol-wrapper span 													{ padding-left:10px;float:left;line-height:40px; }
	.ewf-ui-columns-setcol-wrapper ul 														{ float:right;height:40px;margin:0; }
	.ewf-ui-columns-setcol-wrapper ul li 													{ width:40px;height:40px;display:inline-block;margin-right:1px; }
	
	.ewf-ui-column-editor > div:first-child 												{ margin-left:0; 	} 
	.ewf-ui-column-editor .ewf-ml-ftcol2 													{ width:35px; 		}
	.ewf-ui-column-editor .ewf-ml-ftcol3 													{ width:54px; 		}
	.ewf-ui-column-editor .ewf-ml-ftcol4 													{ width:73px; 		}
	.ewf-ui-column-editor .ewf-ml-ftcol5 													{ width:92px; 		}
	.ewf-ui-column-editor .ewf-ml-ftcol6 													{ width:111px; 		}
	.ewf-ui-column-editor .ewf-ml-ftcol7 													{ width:130px; 		}
	.ewf-ui-column-editor .ewf-ml-ftcol8 													{ width:149px; 		}
	.ewf-ui-column-editor .ewf-ml-ftcol9 													{ width:168px; 		}
	.ewf-ui-column-editor .ewf-ml-ftcol10 													{ width:187px; 		}
	.ewf-ui-column-editor .ewf-ml-ftcol11 													{ width:206px; 		}
	.ewf-ui-column-editor .ewf-ml-ftcol12 													{ width:225px; 		}
	
	
	
	/* 	EWF Admin UI - Font selector
	---------------------------------------------------------------------------------------*/	
	
	.ewf-ui-font 																			{ } 
	.ewf-ui-control-font 																	{ background: none repeat scroll 0 0 #E7E7E7;border-radius: 3px;min-height: 38px;padding: 2px;position: relative; }
	
	/* TODO */
	.ewf-ui-control-font .ewf-ui-font-preview 												{ padding:20px 10px;text-align:center;display:none; }
	.ewf-ui-control-font .ewf-ui-font-preview h3 											{ margin:0;font-size:22px;color:#363b3f;line-height:32px; }
	.ewf-ui-control-font .ewf-ui-font-preview p 											{ margin:0;color:#9A9B9C; }
	.ewf-ui-control-font .ewf-ui-font-current 												{ display:block;height: 38px;line-height:38px;margin:0 15px 0 10px;cursor:pointer;font-size:14px;background:url("images/back-ui-font-arrow.png") no-repeat right center; }
	.ewf-ui-control-font .ewf-ui-input-font-search 											{ margin:0;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-box-sizing: border-box;width:100%; }
	.ewf-ui-control-font .ewf-ui-font-search 												{ padding:5px; }
	.ewf-ui-control-font .ewf-ui-font-dropdown 												{ position:relative; }
	.ewf-ui-control-font .ewf-ui-font-dropdown ul 											{ max-height:98px;overflow-y:auto;/*position:absolute;top:0;left:0;*/z-index:999;width:100%;margin:0;padding-top:2px;padding-top:5px;border-left:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;border-right:1px solid #DDDDDD;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-box-sizing: border-box;width:100%; }
	.ewf-ui-control-font .ewf-ui-font-dropdown li 											{ padding-left:8px;margin-bottom:1px;display:block;line-height:22px;cursor:pointer; }
	
	.ewf-ui-control-font .ewf-font-ui-options 												{ height:38px; }
	.ewf-ui-control-font .ewf-font-ui-selector												{ -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-color: #cacaca;-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);box-shadow: 0 0 5px rgba(0,0,0,.15);background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6);width:274px;float:left; }

	
	.ewf-ui-control-font .ewf-ui-font-italic												{ width:38px;float:left;margin-left:2px; }
	.ewf-ui-control-font .ewf-ui-font-variant 												{ width:120px;float:left;margin-left:2px; }
	
	.ewf-ui-control-font .ewf-ui-font-italic input,
	.ewf-ui-control-font .ewf-ui-font-variant input 										{ width:100%;margin-top:5px; }
	
	.ewf-ui-input-font-set 																	{ display:none;clear: both; }

	
	
	/* EWF UI - Components
	/*******************************************************************************/
	.ewf-ui-cp-dropdown  																	{ -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-color: #cacaca;-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);box-shadow: 0 0 5px rgba(0,0,0,.15);background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6); } 
	.ewf-ui-cp-dropdown span 																{ display:block;height: 38px;line-height:38px;margin:0 15px 0 10px;cursor:pointer;font-size:14px;background:url("images/back-ui-font-arrow.png") no-repeat right center; } 
	.ewf-ui-cp-dropdown ul 																	{ padding:0 10px;display:none; }
	.ewf-ui-cp-dropdown.active ul 															{ display:block; 	}
	.ewf-ui-cp-dropdown li 																	{ opacity:.7;cursor:pointer; }
	.ewf-ui-cp-dropdown li:hover 															{ opacity:1;		}
	
	.ewf-ui-cp-button-toggle																{ -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-color: #cacaca;-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);box-shadow: 0 0 5px rgba(0,0,0,.15);background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6);transition:all .4s; } 
	.ewf-ui-cp-button-toggle span 															{ display:block;height: 38px;line-height:38px;cursor:pointer;font-size:14px;background:url("images/back-ewf-ui-font-italic.png") no-repeat right center; } 
	.ewf-ui-cp-button-toggle.ewf-state-active  												{ -webkit-box-shadow: 0 0 5px rgba(0,0,0,.15), inset 0 0 40px rgba(249,192,40,.5);-moz-box-shadow: 0 0 5px rgba(0,0,0,.15), inset 0 0 40px rgba(249,192,40,.5);box-shadow: 0 0 5px rgba(0,0,0,.15), inset 0 0 40px rgba(249,192,40,.5);background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6); }
	.ewf-ui-cp-button-toggle.ewf-state-disabled 											{ background-color: #cacaca;-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);box-shadow: 0 0 5px rgba(0,0,0,.15);background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6);opacity:.4; }
	

	
	
	
	/* 	EWF Admin UI - Image Option
	---------------------------------------------------------------------------------------*/	
	.ewf-ui-options 																		{ }
	.ewf-ui-options-item																	{ width:100px;cursor:pointer;opacity:.5;background:#E7E7E7;float:left;display:block;height:110px;margin-right:2px;padding:2px;border-radius:3px;overflow:hidden;transition:all .4s;  }
	.ewf-ui-options-item:hover 																{ opacity:1; }
	.ewf-ui-options-item.ewf-state-active													{ opacity:1; }
	.ewf-ui-options-item div 																{ height:80px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-color: #cacaca;-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);box-shadow: 0 0 5px rgba(0,0,0,.15);background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6);}
	.ewf-ui-options-item > span 															{ display:block;text-align:center;height:30px;line-height:30px; }
	.ewf-ui-options-item div span 															{ display:block;background:gold;height:80px; }
	
	.ewf-layout-boxedin div span 															{ background:url("images/ewf-ui-back-toggle-boxedin.png") no-repeat center center; }
	.ewf-layout-fullwidth div span 															{ background:url("images/ewf-ui-back-toggle-fullwidth.png") no-repeat center center; }
	

	
	/* 	EWF Admin UI - Textarea
	---------------------------------------------------------------------------------------*/	
	.ewf-ui-textarea textarea																{ width:100%; }
	.ewf-ui-textarea .ewf-col-action 														{ width:400px;margin-right:0; }

	
	
	/* 	EWF Admin UI - Select
	---------------------------------------------------------------------------------------*/	
	.ewf-ui-select select																	{ width:100%; }
	.ewf-ui-select .ewf-col-action 															{ width:250px; }
	
	
	
	/* 	EWF Admin UI - Text
	---------------------------------------------------------------------------------------*/	
	.ewf-ui-text input																		{ width:100%; }
	
	
	
	/* 	EWF Admin UI - Section
	---------------------------------------------------------------------------------------*/	
	.ewf-ui-section 																		{ border-bottom:1px solid #EBEBEB;margin-bottom:10px;padding-top:10px;padding-bottom:0; }
	.ewf-ui-section h2 																		{ margin-bottom:0;padding-bottom:25px;border-bottom:1px solid #EBEBEB;display:inline-block;color:363b3f;font-weight:300; }

	
	
	/* 	EWF Admin UI - Background
	---------------------------------------------------------------------------------------*/		
	.ewf-ui-background .ewf-ui-input-background												{ display:none; }
	.ewf-ui-background .ewf-ui-control-background											{ border-radius:3px;background:#E7E7E7;padding:2px;position:relative; }
	
	.ewf-ui-background-image-preview 														{ min-height:20px;margin-bottom:10px;text-align:center;padding:10px 0; }
	.ewf-ui-background-image-property a.ewf-ui-background-image-pattern.button 				{ width:auto;display:inline-block;text-align:center; }
	
	.ewf-ui-control-background .toggle 														{ float:right;margin-top:7px; }
	.ewf-ui-control-background .toggle-slide 												{ border-radius: 9999px;box-shadow: 0 0 0 1px #999; }
	.toggle-slide 																			{ overflow: hidden;cursor: pointer;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;direction: ltr;}
	
	.toggle-slide .toggle-on, .toggle-slide .toggle-off, .toggle-slide .toggle-blob			{ float: left; }
	.toggle-slide .toggle-blob 																{ position: relative;z-index: 99;cursor: hand;cursor: grab;cursor: -moz-grab;cursor: -webkit-grab; }

	.ewf-ui-control-background .toggle-slide .toggle-on,
	.ewf-ui-control-background .toggle-slide .toggle-off,
	.ewf-ui-control-background .toggle-slide .toggle-blob 									{ font-size: 11px;font-weight: 500; }
	  
	.ewf-ui-control-background .toggle-slide .toggle-on,
	.ewf-ui-control-background .toggle-select .toggle-inner .active 						{ background: rgb(69,163,31);box-shadow: inset 2px 2px 6px rgba(0,0,0,0.2);text-shadow: 1px 1px rgba(0,0,0,0.2);color: rgba(255,255,255, 0.8); }

	.ewf-ui-control-background .toggle-slide .toggle-blob									{ border-radius: 50px;background: #cfcfcf;background: -moz-linear-gradient(bottom,  #cfcfcf 0%, #f5f5f5 100%);background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#cfcfcf), color-stop(100%,#f5f5f5));background: -webkit-linear-gradient(bottom,  #cfcfcf 0%,#f5f5f5 100%);background: -o-linear-gradient(bottom,  #cfcfcf 0%,#f5f5f5 100%);background: -ms-linear-gradient(bottom,  #cfcfcf 0%,#f5f5f5 100%);background: linear-gradient(to top,  #cfcfcf 0%,#f5f5f5 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#f5f5f5',GradientType=0 );box-shadow: 1px 1px 2px #888;}
	.ewf-ui-control-background .toggle-slide .toggle-blob:hover 							{ background: #e4e4e4;background: -moz-linear-gradient(top,  #e4e4e4 0%, #f9f9f9 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#f9f9f9));background: -webkit-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%);background: -o-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%);background: -ms-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%);background: linear-gradient(to bottom,  #e4e4e4 0%,#f9f9f9 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f9f9f9',GradientType=0 ); }

	.ewf-ui-control-background .toggle-slide .toggle-off,
	.ewf-ui-control-background .toggle-select .toggle-on 									{ color: rgba(0,0,0,0.6);text-shadow: 0 1px rgba(255,255,255,0.2);background: #cfcfcf;background: -moz-linear-gradient(top,  #cfcfcf 0%, #f5f5f5 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#f5f5f5));background: -webkit-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);background: -o-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);background: -ms-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);background: linear-gradient(to bottom,  #cfcfcf 0%,#f5f5f5 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#f5f5f5',GradientType=0 );	}

	.ewf-ui-background .image-patterns 														{ display:none; }
	.ewf-ui-background .ewf-ui-background-tabs 												{ height:35px;margin-bottom:0;overflow:hidden; }
	.ewf-ui-background .ewf-ui-background-tabs li 											{ float:left;border-radius:3px;line-height:36px;text-align:center;display:block;cursor:pointer;border-radius:3px 3px 0 0;height:36px; min-width:80px;padding:0 15px;}
	.ewf-ui-background .ewf-ui-background-tabs a 											{ text-decoration:none;color:#333333;opacity:.7; }
	.ewf-ui-background .ewf-ui-background-tabs a:focus 										{  outline: 0; }
	.ewf-ui-background .ewf-ui-background-tabs li.active									{ background-color: #fff;	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.15);-moz-box-shadow: 0 0 3px rgba(0,0,0,.15);box-shadow: 0 0 3px rgba(0,0,0,.15); }
	.ewf-ui-background .ewf-ui-background-tabs-content										{ position:relative;z-index:100;padding:5px;min-height:100px;margin-bottom:5px; }
	
	.ewf-ui-background-setting.ewf-ui-background-presets-wrapper							{ padding:0; }
	.ewf-ui-background-setting .ewf-ui-background-presets 									{ padding:6px 0 0 18px;margin:0 -6px 0 0; }
	.ewf-ui-background-setting .ewf-ui-background-presets .active 							{ border:2px solid red; }
	.ewf-ui-background-setting .ewf-ui-background-presets li 								{ float:left;margin-right:10px;margin-bottom:10px;width:36px;height:36px;cursor:pointer;margin-left:0;background-color: rgba(0,0,0,.03);-webkit-box-shadow: 1px 1px rgba(255,255,255,.4), inset 0 1px 5px rgba(0,0,0,.08);-moz-box-shadow: 1px 1px rgba(255,255,255,.4), inset 0 1px 5px rgba(0,0,0,.08);box-shadow: 1px 1px rgba(255,255,255,.4), inset 0 1px 5px rgba(0,0,0,.08);border: solid 2px rgba(0,0,0,.1); }
	.ewf-ui-background-setting.ewf-ui-background-image-property 							{ padding:0 5px; }
	.ewf-ui-background-setting .ewf-ui-background-image-preview								{ -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-color: #cacaca;background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6);	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);-moz-box-shadow: 0 2px 2rgba(0,0,0,.05);box-shadow: 0 2px 2px rgba(0,0,0,.05); }

	.ewf-ui-background-setting 																{ padding:10px 10px 5px 10px; }
	.ewf-ui-background-setting ul															{ background:transparent;float:right;margin:0; }
	.ewf-ui-background-setting li															{ width:35px;height:35px;display:block;float:right;margin-left:5px;background:#ECECEC;overflow:hidden;border:1px solid #E7E7E7;cursor:pointer; }
	.ewf-ui-background-setting li.active		 											{ background-color: rgba(0,0,0,.03);-webkit-box-shadow: 1px 1px rgba(255,255,255,.4), inset 0 1px 5px rgba(0,0,0,.08);-moz-box-shadow: 1px 1px rgba(255,255,255,.4), inset 0 1px 5px rgba(0,0,0,.08);box-shadow: 1px 1px rgba(255,255,255,.4), inset 0 1px 5px rgba(0,0,0,.08);border: solid 1px rgba(0,0,0,.1); }
	.ewf-ui-background-setting span 														{ float:left;height:35px;line-height:35px; }
	.ewf-ui-background-image > span 														{ height:35px;line-height:35px;padding-left:10px; }
	
	 
	 
	.ewf-ui-background-setting .wp-picker-container .iris-picker 							{ z-index: 9; }
	.ewf-ui-background-setting .wp-picker-container 										{ float:right;display:block;margin-top: 5px;height:30px;text-align: right; }
	.ewf-ui-background-setting .wp-picker-container .wp-color-result						{ margin:0; }
	.ewf-ui-background-setting .wp-picker-input-wrap										{ }
	.ewf-ui-background-setting .wp-picker-open+.wp-picker-input-wrap input					{ float:right;display:block !important; }
	.ewf-ui-background-setting .ewf-ui-input-background-color 								{ border-radius:0 3px 3px 0; }
	.ewf-ui-background-setting > div 														{ background:transparent; }
	
	.ewf-ui-background-setting .ewf-ui-icon-bg-attach-fixed 								{ background:#DBDBDB url("images/back-ui-background-attachment.png") no-repeat 0 0; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-attach-scroll 								{ background:#DBDBDB url("images/back-ui-background-attachment.png") no-repeat -35px 0; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-norepeat 									{ background:#DBDBDB url("images/back-ui-background-repeat.png") no-repeat 0 0; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-repeatx 										{ background:#DBDBDB url("images/back-ui-background-repeat.png") no-repeat -35px 0; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-repeaty 										{ background:#DBDBDB url("images/back-ui-background-repeat.png") no-repeat -70px 0; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-repeatall 									{ background:#DBDBDB url("images/back-ui-background-repeat.png") no-repeat -105px 0; }
	
	.ewf-ui-background-setting .ewf-ui-icon-bg-pos-lt 										{ background:#DBDBDB url("images/back-ui-background-position.png") no-repeat 0 0; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-pos-ct 										{ background:#DBDBDB url("images/back-ui-background-position.png") no-repeat center 0; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-pos-rt 										{ background:#DBDBDB url("images/back-ui-background-position.png") no-repeat right 0; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-pos-lc 										{ background:#DBDBDB url("images/back-ui-background-position.png") no-repeat left center; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-pos-cc 										{ background:#DBDBDB url("images/back-ui-background-position.png") no-repeat center center; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-pos-rc 										{ background:#DBDBDB url("images/back-ui-background-position.png") no-repeat right center; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-pos-lb 										{ background:#DBDBDB url("images/back-ui-background-position.png") no-repeat left bottom; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-pos-cb 										{ background:#DBDBDB url("images/back-ui-background-position.png") no-repeat center bottom; }
	.ewf-ui-background-setting .ewf-ui-icon-bg-pos-rb 										{ background:#DBDBDB url("images/back-ui-background-position.png") no-repeat right bottom; }
	
	.ewf-ui-background-setting .background-position 										{ width:135px; }
	.ewf-ui-background-separator 															{ height:1px;background:#E2E1E2;border-bottom:1px solid #F6F6F6; }
		
	.ewf-ui-background-image-preview .no-image 												{ height:100px;background:url("images/back-ui-image.png") no-repeat center center;transition: opacity .4s;position:relative; }
	.ewf-ui-background-image-property 														{ text-align:left; }
	
	.ewf-ui-background-image-property input 												{ width:100%; }
	
	.ewf-ui-background-image-property a.button 												{ display:inline-block;width:auto; }
	.ewf-ui-background-image-property.image-none .ewf-ui-background-image-remove 			{ display:none; }
	.ewf-ui-background-image-property.image-none .ewf-ui-background-image-upload 			{ display:inline-block; }
	.ewf-ui-background-image-property.image-none .ewf-ui-background-image-preview > img 	{ display:none; }
	
	.ewf-ui-background-image-property.choose-pattern .image-patterns 						{ display:block;}
	.ewf-ui-background-image-property .ewf-ui-background-image-cancel.button 				{ display:none; }
	
	.ewf-ui-background-image-property.image-selected .ewf-ui-background-image-preview > img 	{ display:block;margin:auto; }
	.ewf-ui-background-image-property.image-selected .ewf-ui-background-image-remove 			{ display:inline-block; }
	.ewf-ui-background-image-property.image-selected .ewf-ui-background-image-upload 			{ display:none; }
	.ewf-ui-background-image-property.image-selected .ewf-ui-background-image-pattern.button	{ display:none; }
	.ewf-ui-background-image-property.image-selected .ewf-ui-background-image-preview .no-image { display:none; }
	
	.ewf-ui-background-image-property.choose-pattern .ewf-ui-background-image-preview > img,
	.ewf-ui-background-image-property.choose-pattern .ewf-ui-background-image-preview .no-image { display:none; }
	.ewf-ui-background-image-property.choose-pattern .ewf-ui-background-image-upload.button		{ display:none; }
	.ewf-ui-background-image-property.choose-pattern .ewf-ui-background-image-pattern.button 	{ display:none; }
	.ewf-ui-background-image-property.choose-pattern .ewf-ui-background-image-cancel 			{ display:inline-block; }

	
	
	/* 	EWF Admin UI - Toggle
	---------------------------------------------------------------------------------------*/			
	.ewf-ui-control-toggle .toggle-slide 													{ border-radius: 9999px;box-shadow: 0 0 0 1px #999; }
	.toggle-slide 																			{ overflow: hidden;cursor: pointer;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;direction: ltr;}
	
	.toggle-slide .toggle-on, .toggle-slide .toggle-off, .toggle-slide .toggle-blob			{ float: left; }
	.toggle-slide .toggle-blob 																{ position: relative;z-index: 99;cursor: hand;cursor: grab;cursor: -moz-grab;cursor: -webkit-grab; }

	.ewf-ui-control-toggle .toggle-slide .toggle-on,
	.ewf-ui-control-toggle .toggle-slide .toggle-off,
	.ewf-ui-control-toggle .toggle-slide .toggle-blob 										{ font-size: 11px;font-weight: 500; }
	  
	.ewf-ui-control-toggle .toggle-slide .toggle-on, 
	.ewf-ui-control-toggle .toggle-select .toggle-inner .active 							{ background: rgb(69,163,31);box-shadow: inset 2px 2px 6px rgba(0,0,0,0.2);text-shadow: 1px 1px rgba(0,0,0,0.2);color: rgba(255,255,255, 0.8); }

	.ewf-ui-control-toggle .toggle-slide .toggle-blob										{ border-radius: 50px;background: #cfcfcf;background: -moz-linear-gradient(bottom,  #cfcfcf 0%, #f5f5f5 100%);background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#cfcfcf), color-stop(100%,#f5f5f5));background: -webkit-linear-gradient(bottom,  #cfcfcf 0%,#f5f5f5 100%);background: -o-linear-gradient(bottom,  #cfcfcf 0%,#f5f5f5 100%);background: -ms-linear-gradient(bottom,  #cfcfcf 0%,#f5f5f5 100%);background: linear-gradient(to top,  #cfcfcf 0%,#f5f5f5 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#f5f5f5',GradientType=0 );box-shadow: 1px 1px 2px #888;}
	.ewf-ui-control-toggle .toggle-slide .toggle-blob:hover 								{ background: #e4e4e4;background: -moz-linear-gradient(top,  #e4e4e4 0%, #f9f9f9 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#f9f9f9));background: -webkit-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%);background: -o-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%);background: -ms-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%);background: linear-gradient(to bottom,  #e4e4e4 0%,#f9f9f9 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f9f9f9',GradientType=0 ); }

	.ewf-ui-control-toggle .toggle-slide .toggle-off, 
	.ewf-ui-control-toggle .toggle-select .toggle-on 										{ color: rgba(0,0,0,0.6);text-shadow: 0 1px rgba(255,255,255,0.2);background: #cfcfcf;background: -moz-linear-gradient(top,  #cfcfcf 0%, #f5f5f5 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#f5f5f5));background: -webkit-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);background: -o-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);background: -ms-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);background: linear-gradient(to bottom,  #cfcfcf 0%,#f5f5f5 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#f5f5f5',GradientType=0 );	}
	
	
	
	/* 	EWF Admin UI - Image
	---------------------------------------------------------------------------------------*/		
	.ewf-ui.ewf-ui-image .ewf-col-description 												{ width:250px;margin-right:25px; }
	.ewf-ui.ewf-ui-image .ewf-col-action 													{ min-width:250px;max-width:400px;margin-right:0;width:auto; }
	.ewf-ui-image .ewf-ui-image-preview.ewf-image-fit 										{ padding:2px;width:100%;box-sizing: border-box; }
	
	.ewf-ui-image .button 																	{ bottom:-15px;left:50%; margin-left:-60px;width:120px;position:absolute;text-align:center; }
	.ewf-ui-image .ewf-ui-image-preview 													{ display:block;margin:0 auto;opacity:0; }
	.ewf-ui-image .ewf-ui-control-image 													{ border-radius:3px;background:#E7E7E7;padding:2px;position:relative; /*height:100px;*/ }
	.ewf-ui-image .ewf-ui-image-wrapper div 												{ min-height:100px;background:url("images/back-ui-image.png") no-repeat center center;transition: opacity .4s;position:absolute;top:0;left:0;bottom:0;right:0;width:100%; }
	.ewf-ui-image .ewf-ui-image-wrapper.active div											{ opacity:0; }
	.ewf-ui-image .ewf-ui-image-wrapper.active img 											{ opacity:1; }
	
	.ewf-ui-image .ewf-ui-image-wrapper 													{ padding:15px 0 25px 0;text-align:center;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-color: #cacaca;-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);box-shadow: 0 0 5px rgba(0,0,0,.15);background-image: -webkit-linear-gradient(top, #fff, #f6f6f6); background-image: -moz-linear-gradient(top, #fff, #f6f6f6);background-image: -o-linear-gradient(top, #fff, #f6f6f6);background-image: linear-gradient(to bottom, #fff, #f6f6f6); }
	.ewf-ui-image .ewf-ui-input-image 														{ display:none; }

	
	
	/* 	EWF Admin UI - Slider - jQuery UI Slider 1.8.21
	---------------------------------------------------------------------------------------*/
	.ewf-ui.ewf-ui-slider 																	{ }
	
	.ewf-ui-slider 																			{ }
	.ewf-ui-slider .ui-slider-horizontal 													{ height:2px;border:none; margin-top: 7px;background:#E5E5E5; }
	.ewf-ui-slider .ui-slider-handle.ui-state-hover 										{ border:1px solid #9f9f9f; }
	
	.ewf-ui-slider .ui-slider-handle 														{ outline:0;cursor:pointer;top: -9px;width: 18px;height: 18px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;background-color: #eee;-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.1);box-shadow: 1px 1px 1px rgba(0,0,0,.1);border: solid 1px #c0c0c0;background-image: -webkit-linear-gradient(top, #f2f2f2, #d6d6d6);background-image: -moz-linear-gradient(top, #f2f2f2, #d6d6d6);background-image: -o-linear-gradient(top, #f2f2f2, #d6d6d6);background-image: linear-gradient(to bottom, #f2f2f2, #d6d6d6); }
	
	.ewf-ui-slider.ewf-ui .ewf-col-action 													{ padding-top:10px;padding-left:65px;height:30px;position:relative;width:335px; }
	.ewf-ui-slider .ewf-ui-input-slider 													{ color:#818284;position:absolute;top:5px;left:0;width: 55px;line-height: 22px;height: 22px;-webkit-border-radius: 11px;-moz-border-radius: 11px;border-radius: 11px;background-color: #f8f8f8;-webkit-box-shadow: inset 1px 2px 5px rgba(0,0,0,.07);-moz-box-shadow: inset 1px 2px 5px rgba(0,0,0,.07);box-shadow: inset 1px 2px 5px rgba(0,0,0,.07);border: solid 1px #ddd;font-size:12px;text-align:center; }
	
	.ui-slider 																				{ position: relative; text-align: left; }
	.ui-slider .ui-slider-handle															{ position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: pointer; }
	.ui-slider .ui-slider-range 															{ position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

	.ui-slider-horizontal 																	{ height: .8em; }
	.ui-slider-horizontal .ui-slider-handle 												{  }
	.ui-slider-horizontal .ui-slider-range 													{ top: 0; height: 100%; }
	.ui-slider-horizontal .ui-slider-range-min 												{ left: 0; }
	.ui-slider-horizontal .ui-slider-range-max 												{ right: 0; }

	.ui-slider-vertical 																	{ width: .8em; height: 100px; }
	.ui-slider-vertical .ui-slider-handle 													{ left: -.3em; margin-left: 0; margin-bottom: -.6em; }
	.ui-slider-vertical .ui-slider-range 													{ left: 0; width: 100%; }
	.ui-slider-vertical .ui-slider-range-min 												{ bottom: 0; }
	.ui-slider-vertical .ui-slider-range-max 												{ top: 0; }



	
	
	/* 	EWF Admin UI - Notice
	---------------------------------------------------------------------------------------*/	
	.ewf-admin-notice:before 																{ content: "\f223";vertical-align:top;font-family: "dashicons";font-size:20px;padding-right:5px; }	


	
	
	
	/* 	EWF Backend - Mega Menu Extender
	---------------------------------------------------------------------------------------*/	
	.ewf-page-nav-icon li																	{ float:left;margin:0 5px 5px 0;width:20px;height:20px;padding:4px;text-align:center;cursor:pointer;box-shadow:inset 0 0 2px 0 #fff; }
	.ewf-page-nav-icon li i																	{ font-size:20px; }
	.ewf-page-nav-icon li.active 															{ background:#fff;border-radius:3px;box-shadow:inset 0 0 2px 0 #F2BC57;background:#F4D783; }

	.ewf-mnu-icon-preview 																	{ box-shadow:inset 0 0 1px 1px rgba(0,0,0,0.2);border-radius:2px;display:inline-block;height:22px;width:22px;margin-right:5px;padding:2px;text-align:center;font-size:15px; }
	.ewf-mnu-icon-preview .no-icon															{ line-height:16px;vertical-align:bottom; }
	.ewf-nav-icon-list 																		{ float:left;height:125px;overflow-y:auto;margin-right:10px;display:none; }
	.ewf-nav-icon-list.ewf-icon-list-visible 												{ display:block; }

	#menu-to-edit .field-mega-menu 															{ display:none; }
	#menu-to-edit .menu-item-depth-0 .field-mega-menu 										{ display:block; }

	
	
	/* 	EWF Backend - Meta Forms
	---------------------------------------------------------------------------------------*/	
	.ewf-meta 																				{ }
	.ewf-meta label																			{ display:block;padding:5px 0;     }
	.ewf-meta textarea 																		{ height:auto; }
	.ewf-meta textarea.full 																{ width:100%; }
	
	.ewf-meta textarea,
	.ewf-meta select,
	.ewf-meta input,
	.ewf-meta input[type="text"]															{ height:25px;line-height:25px;width:300px;border:1px solid #DDDDDD;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset; }
	.ewf-meta input[type="checkbox"] 														{ width:auto; }
	
	.ewf-meta-checkbox label 																{ display:inline-block; }
	
	.ewf-meta-set 																			{ padding-bottom:15px; }
	.ewf-meta-set input																		{ width:432px;display:block;background-color: #FFFFFF;border: 1px solid #DFDFDF;color: #333333;border-radius:3px; }
	.ewf-meta-set input:focus 																{ border-color:#BBBBBB }
	
	.ewf-meta-set textarea																	{ width:440px;display:block; }
	.ewf-meta-set label 																	{ display:block; }

	
	
	/* 	EWF Backend - Clearfix
	---------------------------------------------------------------------------------------*/
	.clearfix:after 																		{ content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0; }
	.clearfix 																				{ display: inline-block; }
	html[xmlns] .clearfix 																	{ display: block; }
	* html .clearfix 																		{  height: 1%; }
	* 																						{ outline: none; }
		
	.fixed:after																			{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
	.fixed																					{ display:block; }
	table.wp-list-table.fixed 																{ display:table; }
	.fixed																					{ min-height:1%; }
	* html .fixed																			{ height:1%; }
	
	
	
	/* 	Tipsy - http://onehackoranother.com/projects/jquery/tipsy/
	---------------------------------------------------------------------------------------*/
	.tipsy 																					{ padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
	.tipsy-inner 																			{ padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
	.tipsy-inner 																			{ border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
	.tipsy-arrow 																			{ position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
	.tipsy-n .tipsy-arrow 																	{ top: 0; left: 50%; margin-left: -4px; }
	.tipsy-nw .tipsy-arrow																	{ top: 0; left: 10px; }
	.tipsy-ne .tipsy-arrow 																	{ top: 0; right: 10px; }
	.tipsy-s .tipsy-arrow 																	{ bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
	.tipsy-sw .tipsy-arrow 																	{ bottom: 0; left: 10px; background-position: bottom left; }
	.tipsy-se .tipsy-arrow																	{ bottom: 0; right: 10px; background-position: bottom left; }
	.tipsy-e .tipsy-arrow 																	{ top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
	.tipsy-w .tipsy-arrow 																	{ top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

	
	
	
	
	/* 	EWF Grid

	.last																					{ margin-right:0px; }
	.col-700																				{ width:700px; float:left; margin-right:20px; }
	.col-460																				{ width:460px; float:left; margin-right:20px; }
	.col-340																				{ width:340px; float:left; margin-right:20px; }
	.col-300																				{ width:300px; float:left; margin-right:20px; }
	.col-280																				{ width:280px; float:left; margin-right:20px; }
	.col-220																				{ width:220px; float:left; margin-right:20px; }
	---------------------------------------------------------------------------------------*/
	
	
	/* 	EWF Retired code ( kept just in case )
	
	#outer-wrap.ewf-setup label																{ font-weight:bold; color:#000000; }
	#outer-wrap.ewf-setup label span.required												{ color:#ff0000; }
	
	#outer-wrap.ewf-setup fieldset															{ padding:15px; margin:0 0 20px 0; border:1px solid #efefef; }
	#outer-wrap.ewf-setup legend															{ font-weight: bold; }
	
	#outer-wrap.ewf-setup input[type=text], 
	#outer-wrap.ewf-setup input[type=password], 
	#outer-wrap.ewf-setup input.text, textarea												{ background-color:#ffffff; border:1px solid #e1e1e1; padding:5px; width:300px; }
	
	#outer-wrap.ewf-setup input[type=text]:focus, 
	#outer-wrap.ewf-setup input[type=password]:focus,  
	#outer-wrap.ewf-setup input.text:focus, 
	#outer-wrap.ewf-setup textarea:focus													{ border-color:#cccccc; }
	
	#outer-wrap.ewf-setup select															{ border-width:1px; border-style:solid; background-color:#ffffff;height:30px;  }
	
	#outer-wrap.ewf-setup input[type=text], 
	#outer-wrap.ewf-setup input[type=password], 
	#outer-wrap.ewf-setup input.text, 
	#outer-wrap.ewf-setup textarea, 
	#outer-wrap.ewf-setup select															{ margin:5px 0; }
	
	#outer-wrap.ewf-setup input.text														{  }
	#outer-wrap.ewf-setup textarea															{ height:100px;  }
	#outer-wrap.ewf-setup #wrap 															{ min-height:600px; }
	#outer-wrap.ewf-setup select															{ border:1px solid #e1e1e1; padding:5px; width:300px;vertical-align: middle; }
	#outer-wrap.ewf-setup option 															{ }
	#outer-wrap.ewf-setup option:hover 														{ cursor: pointer; }
	---------------------------------------------------------------------------------------*/
